.campaign-header-wrapper {
  height: 15vh;
  display: flex;
}

.campaign-icon-wrapper img {
  height: auto;
  width: 20%;
}

.media-display-wrapper {
  display: flex;
  overflow: auto;
  flex-direction: row;
}

.media-buttons-wrapper {
  display: flex;
  flex-direction: row;
}

.media-button {
  margin: 0;
  border: 1px solid grey;
}

.media-wrapper {
  position: relative;
  width: 30%;
  margin: 10px;
}

.media-preview {
  height: auto;
  max-height: 200px;
  width: 100%;
}

.play-button {
  position: relative;
  left: 50%;
  bottom: 50%;
}

.play-button-hidden {
  display: none;
}